/* 
    GLOBAL
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #FEFAE0;
    user-select: none;
    font-family: 'Happy Monkey', system-ui;
    font-size: 20px;
    font-weight: 600;
    color: rgb(76, 38, 10);
}

.padding{
    padding: 15px;
}

.borderRadius{
    border-radius: 8px;
}

/* 
    APP
*/
body{
    padding: 10px;
}

.app-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

#back-btn{
    align-self: end;
    text-decoration: none;
}

#back-btn:hover{
    color: rgb(149, 74, 20);
}

#tenor-gif{
    align-self: center;
    border-radius: 20px;
}

.title{
    margin-top: 10px;
    font-size: 30px;
}

#new-list-entry-form{
    align-self: stretch;
}

#new-list-entry{
    width: 100%;
    border: none;
    background: rgb(245, 245, 245);
    text-align: center;
}

#add-btn{
    background: #CCD5AE;
    border: none;
    align-self: stretch;
    cursor: pointer;
}

#add-btn:hover{
    background: #b1b996;
}

#checklist{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.list-item{
    cursor: pointer;
    background: #D4A373;
    flex-grow: 1;
}

.list-item:hover{
    background: rgb(173, 134, 95);
}

.empty-list{
    width: 100%;
}